<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
            http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd">
    <!-- 配置注解扫描 -->
    <context:component-scan base-package="com.common.utils.ThreadPoolTaskExecutor"/>

    <task:scheduler id="taskScheduler" pool-size="20" />

    <task:scheduled-tasks scheduler="taskScheduler">
        <!-- 每半分钟触发任务 -->
        <task:scheduled ref="springTaskCron" method="execute1" cron="30 * * * * ?"/>
        <!-- 每小时的10分30秒触发任务 -->
        <task:scheduled ref="springTaskCron" method="execute2" cron="30 10 * * * ?"/>
        <!-- 每天1点10分30秒触发任务 -->
        <task:scheduled ref="springTaskCron" method="execute3" cron="30 10 1 * * ?"/>
        <!-- 每月20号的1点10分30秒触发任务 -->
        <task:scheduled ref="springTaskCron" method="execute4" cron="30 10 1 20 * ?"/>
        <!-- 每年10月20号的1点10分30秒触发任务 -->
        <task:scheduled ref="springTaskCron" method="execute5" cron="30 10 1 20 10 ?"/>
        <!-- 每15秒、30秒、45秒时触发任务 -->
        <task:scheduled ref="springTaskCron" method="execute6" cron="15,30,45 * * * * ?"/>
        <!-- 15秒到45秒每隔1秒触发任务 -->
        <task:scheduled ref="springTaskCron" method="execute7" cron="15-45 * * * * ?"/>
        <!-- 每分钟的每15秒时任务任务，每隔5秒触发一次 -->
        <task:scheduled ref="springTaskCron" method="execute8" cron="15/5 * * * * ?"/>
        <!-- 每分钟的15到30秒之间开始触发，每隔5秒触发一次 -->
        <task:scheduled ref="springTaskCron" method="execute9" cron="15-30/5 * * * * ?"/>
        <!-- 每小时的0分0秒开始触发，每隔3分钟触发一次 -->
        <task:scheduled ref="springTaskCron" method="execute10" cron="0 0/3 * * * ?"/>
        <!-- 星期一到星期五的10点15分0秒触发任务 -->
        <task:scheduled ref="springTaskCron" method="execute11" cron="0 15 10 ? * MON-FRI"/>
    </task:scheduled-tasks>

</beans>